.day{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    // margin: -25% auto 0 25%;
    // background: rgba(199, 199, 199, 0.1); /* Green background with 30% opacity */
    .card{
        text-align: center;
        padding: 12px;
        background: rgba(199, 199, 199, 0.2);
        border-radius: 25px;
        border: 5px solid #c7c7c7;
        h2{
            padding: 7px;
            margin: 2px;
            border-radius: 25px;
            background: rgba(255, 255, 114, 1);
        }
        .location{
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 2px;
            max-width:60%;
            margin: 0 auto;
        }
        h2:hover{
            background: #ffeb3b;
        }
    p{
        border-radius: 25px;
        padding: 12px 7px;
        background: rgba(255, 255, 114, 0.4);
        font-size:25px;
        margin: 7px 0;
        opacity: 1;
        color: black;
    }
    p:hover{
        background: #ffeb3b;
    }
}
.card:hover{
    background: rgba(255, 255, 114, 0.1);
}
}